body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

#index {
  background: url("../images/drone.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}
h1 {
  display: flex;
  font: 60px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.pintro {
  display: flex;
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#navbutton {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul{
  display: flex;
  justify-content: flex-start;
}



a {
  color: #00b7ff;
}

li{
  list-style-type: none;
}

.container{
  border: 1px solid black;
  margin-right: 2rem;
  padding: 1rem;
  border-radius: 5px;
}

.container:hover{
  transform: scale(1.15);
  transition: transform 0.3s;
}

.body{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: flex-start;

}

.create{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5px;
}

label{
  padding: 1rem 0;
}

input{
  padding: 0.5rem;
}
