<h2>Create a new drone</h2>
<hr />
<div>
  <form action="/drones/create" method="POST">
    <label>
      Name
      <input name="name" type="text" />
    </label>
    <label>
      Propellers
      <input name="propellers" type="text" />
    </label>
    <label>
      Max Speed
      <input name="maxSpeed" type="text" />
    </label>
    <button>Create</button>
  </form>

</div>